<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Parcial2-AP2-VictorPalma</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Cobros">
                <span class="oi oi-plus" aria-hidden="true"></span> Cobros
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandir = !expandir">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Consultas
            </NavLink>

            @if (expandir)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="cVentas">
                            <span class="oi oi-credit-card px-1" aria-hidden="true"></span> Consultar Ventas
                        </NavLink>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="cCobros">
                            <span class="oi oi- oi-credit-card px-1" aria-hidden="true"></span> Consultar Cobros
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandir;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
